################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MonoGame.StrokeEffect/bin
/MonoGame.StrokeEffect/obj
/MonoGame.StrokeEffect/Content/bin
/MonoGame.StrokeEffect/Content/obj
/MonoGame.StrokeEffect/Content/.mgcontent
/MonoGame.StrokeEffect/Content/.mgstats
/MonoGame.StrokeEffect/Content/StrokeEffect.mgcontent
/MonoGame.StrokeEffect/MonoGame.StrokeEffect.csproj.user
/Samples/MonoGame.StrokeEffect-Samples.DesktopGL/bin
/Samples/MonoGame.StrokeEffect-Samples.DesktopGL/obj
/Samples/MonoGame.StrokeEffect-Samples.DesktopGL/MonoGame.StrokeEffect-Samples.DesktopGL.csproj.user
/Samples/MonoGame.StrokeEffect-Samples.Android/bin
/Samples/MonoGame.StrokeEffect-Samples.Android/obj
/Samples/MonoGame.StrokeEffect-Samples.Android/.vs
/Samples/MonoGame.StrokeEffect-Samples.Android/MonoGame.StrokeEffect-Samples.Android.csproj.user
/Samples/MonoGame.StrokeEffect-Samples.Shared/Content/bin
/Samples/MonoGame.StrokeEffect-Samples.Shared/Content/obj
