################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MonoGame.StrokeEffect/bin
/MonoGame.StrokeEffect/obj
/MonoGame.StrokeEffect-Samples/bin
/MonoGame.StrokeEffect-Samples/obj
/MonoGame.StrokeEffect-Samples/Content/bin
/MonoGame.StrokeEffect-Samples/Content/obj
/MonoGame.StrokeEffect/Content/bin
/MonoGame.StrokeEffect/Content/obj
/MonoGame.StrokeEffect/Content/.mgcontent
/MonoGame.StrokeEffect/Content/.mgstats
/MonoGame.StrokeEffect/Content/StrokeEffect.mgcontent
/MonoGame.StrokeEffect/MonoGame.StrokeEffect.csproj.user
/MonoGame.StrokeEffect-Samples/MonoGame.StrokeEffect-Samples.csproj.user
